@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body{
  font-family: Roboto;
  position: relative;
  background-image: url('./images/bg.jpg');
  background-color: rgba(0, 0, 0, 0.301);
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/bg-overlay.png');
}

#header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#header a{
  text-decoration: underline dotted;
  line-height: 1.5;
  color: white;
  font-weight: 100;
  transition: 0.5s;
}

#header a:hover{
  color: lightskyblue
}

.headerText{
  padding-bottom: 20px;
}

.headerText > h1{
  text-align: center;
  font-weight: 500;
  letter-spacing: 5px;

}

.headerText > p{
  color: white;
  text-align: justify;
  line-height: 200%;
  letter-spacing: 3px;
  font-weight: 100;
}

/*navigation*/

#header nav{
  width: 100%;
}

#header ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
}

#header li{
  list-style: none;
  border: 1px solid white;
  padding: 15px;
  transition: .5s;
}

#header li:first-child{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#header li:last-child{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#header li:hover{
  background-color: rgba(245, 245, 245, 0.26);
  cursor: pointer;
  transition: none;
}

#header li:active{
  opacity: 0.5;
}

#header > nav > ul > li > a{
  flex: 1;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.logo{
  width: 40px;
  height: 40px;
  padding: 30px;
  border: 1px white solid;
  border-radius: 50%;
}

/*lines under and before header text*/
.borderLine1{
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 40px;
}

.borderLine2{
  margin-top: 40px;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 20px;
}

/*Modals*/



#modals dialog {
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(44, 44, 44);
  color: antiquewhite;
}

#modals >dialog::backdrop {
  background-image: url('./images/bg.jpg');
  background-color: rgba(0, 0, 0, 0.521);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  z-index: 5;
}

#modals dialog > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 8px;
  color: white;
  text-decoration: underline;
}

#modals dialog > p {
  line-height: 200%;
}

.modalImg > img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover ;
}

#modals dialog > h3 {
  text-decoration: underline;
}

.closeBtn{
  font-size: 20px;
  position: absolute;
  right: 20px;
  transition: .2s;
}

.closeBtn:hover{
  transform: rotate(90deg);
}

.closeBtn:active{
  transform: scale(1.4)
}

/*media*/

@media (min-width: 768px){
  #header ul{
    flex-direction: row;
  }

  #header li{
    padding: 10px 40px;
  }

  #header li:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
  }
  
  #header li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }

  /*modals*/

  

  #modals dialog {
    width: 80%;
    padding: 20px;

  }

  #modals dialog > h3 {
    font-size: 1rem
  }
  #modals dialog > p {
    font-size: 0.8rem
  }

  .modalImg > img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover ;
    object-position: center;
  }
}