@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  font-family: Roboto;
  position: relative;
  background-image: url('./images/bg.jpg');
  background-color: rgba(0, 0, 0, 0.301);
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/bg-overlay.png');
}

#header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#header a{
  text-decoration: underline dotted;
  color: white;
  font-weight: 100;

}

#header nav{
  width: 100%;
}

#header ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
}

#header li{
  list-style: none;
  border: 1px solid white;
  padding: 15px;
  transition: .5s;
}

#header li:hover{
  background-color: rgba(245, 245, 245, 0.26);
  cursor: pointer;
  transition: none;
}

#header li:active{
  opacity: 0.5;
}

#header > nav > ul > li > a{
  flex: 1;

  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.logo{
  margin-bottom: 100px;
  width: 40px;
  height: 40px;
  padding: 30px;
  border: 1px white solid;
  border-radius: 50%;
}

.headerText > h1{
  text-align: center;
  font-weight: 500;
  letter-spacing: 5px;

}

.headerText > p{
  color: white;
  text-align: justify;
  line-height: 200%;
  letter-spacing: 3px;
  font-weight: 100;

}

